# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. PYTHON
2. SQL
3. JAVASCRIPT

# Some of the commonly used libraries used by Data Scientists include:
## 1.PANDAS
## 2.NumPy
## 3.MatPLotlib

#  Data Science Tools 

## RSrudio
## Apache Spark
## Tensor Flow

### Below are a few examples of evaluating arithmetic expressions in Python
#### Evaluate a simple expression
eval("2 + 3")  # Output: 5

#### Evaluate an expression with parentheses
eval("(2 + 3) * 4")  # Output: 20

#### Evaluate an expression with mixed operators
eval("2 + 3 * 4")  # Output: 14

## This a simple arithmetic expression to mutiply then add integers

In [6]:
eval("3*4")+5

17

## This will convert 200 minutes to hours by diving by 60

In [7]:
import math

minutes = 200

hours = math.floor(minutes / 60)

print(hours)

3

## objectives
### -.simple airthmetic expressions in python
### -.conversion from minutes into hours
### -.how to use markdown

## author 
### divyesh yadav